
@media print{
    @page{
        margin-top:5mm;
        margin-bottom:5mm;
        margin-left:1mm;
        margin-right:1mm;
    }
}
.accordian {
    min-width: 325px;
    max-width: 325px;
}

.special td{
    border: 1px solid black;
}
.rotated {
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
  }

  .rotated div {
    transform: rotate(-90deg);
       -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
         -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
               filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
           -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
           margin-left: -10em;
           margin-right: -10em;
           padding-left: 23px;
  }

.maincontent [id]::before {
    content: '';
    display: block;
    height:      75px;
    margin-top: -70px;
    visibility: hidden;
  }

.accordian table {
    border: none !important
}

.maincontent {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    width: 100%;
}

.maincontent h1 {
    font-size: 1.75rem;
}

.maincontent h2 {
    font-size: 1.5rem;
}

.maincontent h3 {
    font-size: 1.25rem;
}

.maincontent h4 {
    font-size: 1rem;
}

.maincontent h5 {
    font-size: 0.75rem;
}

.maincontent p {
    font-size: 13px;
}

.maincontent li {
    font-size: 13px;
}

.maincontent tbody {
    font-size: 13px;
}

.maincontent thead {
    font-size: 14px;
}

.maincontent tbody tr:nth-child(even) {
    background-color: #E0E0E0;
}

.maincontent table, .maincontent tr {
    border: 1px solid black;
}

.maincontent th {
    background-color: rgb(184, 184, 184);
    padding-left: 15px;
    padding-right: 15px;
    border-color: 1px solid black;
}

.maincontent td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.maincontent th, .maincontent tr td {
    page-break-inside: avoid !important;
}

table.subtable, .subtable tr{
    border: none !important;
}

.subtable td {
    border: none !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.subtable tbody tr:nth-child(even) {
    background-color: transparent;
}

.big-image {
    width: 75%;
}

.newpage {
    page-break-after: always !important;
}