<div style="position: fixed; background-color: white; width: 100vw;">
    <div id="sidebar" style="display: none;" class="col-2 accordian d-print-none" style="z-index:3"> {% include navigation.md %} </div>
    <div id="showmenu" class="d-print-none"><i id="menuiconopen" onclick="document.getElementById('sidebar').style.display = 'block'; document.getElementById('showmenu').style.paddingLeft = '275px'; document.getElementById('menuiconopen').style.display = 'none';" class="fa fa-bars fa-2x" style = "float: left; z-index: 10; padding-top: 9px; padding-left: 30px;"></i><h2 style = "padding-top: 7px; text-align: center;">Louisiana Incident-Based Reporting System Documentation</h2></div>
</div>
