<div class="border-bottom" style="position: fixed; background-color: white; width: 100vw;">
    <div id="showmenu" class="d-print-none">
        <i id="menuiconopen" 
            onclick="document.getElementById('sidebar').style.display = 'block';" 
            class="fa fa-bars fa-2x" style = "float: left; z-index: 10; padding-top: 11px; padding-left: 30px;"></i>
        <h2 class="no-link" style = "padding-top: 7px; text-align: center;">Louisiana Incident-Based Reporting System Documentation</h2>
    </div>
</div>
