<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

<!-- Automatic Anchor Tags -->
<script>
    // Automatically add anchor tags to each h1 and h2
    function addAnchorLinksToHeadings() {
        const headerElements = document.querySelectorAll('h1, h2');
        if (!!headerElements) {
            headerElements.forEach(e => {
                const newAnchor = document.createElement('a');
                newAnchor.href = `#${e.id}`;
                newAnchor.className = "ml-2 text-light"
                newAnchor.setAttribute('aria-labelledby', e.id);
                newAnchor.innerHTML = `<i class="fas fa-link"></i>`;
                e.appendChild(newAnchor);
            });
        }
    }

    document.addEventListener("DOMContentLoaded", addAnchorLinksToHeadings);
</script>