<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  {% include head.html %}
  <body>
    
    {% include header.html %}
    <!-- CONTENT -->
    <div style="display: inline-flex;">
      <div class="col-2" style="display: inline-flex; min-width: 325px; max-width: 325px;"> {% include navigation.md %}</div>
      <div class="col-9" style="padding-top: 20px;">{{ content }}</div>
    </div>
    <!-- FOOTER -->
    <div class="footer">
      {% include footer.html %}
    </div>
    <!-- SCRIPTS -->
    {% include scripts.html %}
  </body>
</html>