<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  {% include head.html %}
  <body>
    
    {% include header.html %}
    <!-- CONTENT -->
    <div class="row " style="height: 100%;">
      <div class="col-3" style="background-color:#e6e7e8; display: inline-flex;"> {% include navigation.md %}</div>
      <div class="col-9" style="background-color:#ffffff;">
      {{ content }}
    </div>
    <!-- FOOTER -->
    <div class="footer">
      {% include footer.html %}
    </div>
    <!-- SCRIPTS -->
    {% include scripts.html %}
  </body>
</html>